# See https://atom.io/docs/latest/creating-a-package#menus for more details
'menu': [
    {
        'label': 'Packages'
        'submenu': [
            'label': 'pep8'
            'submenu': [
                { 'label': 'Lint with pep8', 'command': 'pep8:lint' }
            ]
        ]
    }
]
